* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth; 
    /* border ko box ke andar lane k liye */
}

/* css for head   start */

#head {
    width: 100%;
    font-size: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    /* horizontal center */
    align-items: center;
    /* verticle  center ke liye*/
    font-family: arial;
    position: fixed;
    top: 0%;
    z-index: 3; 
}

#head #logo {
    color: white;
    font-family: 'Cooper Black';
    background: rgb(221, 81, 81);
    font-size: 30px;
    letter-spacing: 5px;
    padding: 0px 5px;
}

#head nav ul {
    display: flex;
    gap: 10%;
    white-space: nowrap; 
    font-family: 'Segoe UI'; 
    font-weight: bold;
}

#head nav ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: black; 
    transition: transform 3s ease-out; 
} 
#head nav ul li:hover { 
    transform: scale(1.4); 
   
}
#head nav ul li a {
    text-decoration: none;
    color: black;
}
#head nav ul li a:hover { 
    color: blue; 
}

#head p {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}

#head .tele {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

#head .tele p {
    background-color: rgb(172, 234, 172);
}

#head .icon {
    display: flex;
    gap: 50px;
} 
#foot { 
    width: 100%;  
    height: 10vh; 
    line-height: 25px;
    background: rgb(175, 175, 248); 
    text-align: center;  
    padding: 10px 0px; 
    margin-top: 5px; 
}
#foot div { 
    font-size: 22px; 

}

/* css for head ends here */

/* home  start */
#s1 {
    margin: 40px 0px;
    background: rgb(172, 234, 172);
}

#s1 img {
    width: 100%;
    height: 90vh;
}

#s1 p {
    color: blue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-bottom: 20px;
}

#s1 .course .sub {
    border: 3px solid blue;
    border-radius: 50%;
    padding: 15px;
}

#s1 .course {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 30px;
}

/* home end */

/* section 2 start*/
#s2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#s2 img {
    border-radius: 60%;
}

#s3 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#s3 img {
    margin-right: 50px;
}

#s4 {
    margin-top: 20px;
    display: flex;
    background: white;
    gap: 30px;
    font-size: 30px;
    font-family: 'Courier New';
    align-items: center;
}

/* section 2 end  book style start */ 
#books0 { 
    width: 100%; 
    height: 100vh; 
    background-image: url('teach/bookbg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin-top: 40px ;    
} 
#books0 #func a { 
    font-size: 30px; 
    color: lightskyblue; 
    text-decoration: none; 
    font-family: georgia; 
     
}
#books0  h3 { 
    margin: 30vh; 
    color: white; 
    font-size: 30px; 
}

#books1 .kitab { 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 

    font-size: 25px;
    font-family: 'sans-serifk';
    background: burlywood;
}
#books1 .kitab a {
    text-decoration: none;
    color: red; 
    font-size: 30px; 
    margin: 20px 0px; 
}
/* book book book book book book book book book book book book book book book book */
#books2 { 
    width: 100%; 
    height: 70vh; 
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: lightgoldenrodyellow;
} 
#books2 p { 
    font-size: 30px; 
    margin-bottom: 10px; 
    font-family: monospace; 
    background-color: lightyellow;
}  
 
@keyframes bookie { 
    30%{ 
        transform: translateX(100px) scale(1.2);
    } 
    60%{ 
        transform: translateX(-200px); 
    }
}
#books3 { 
    width: 100%; 
    height: 60vh; 
    font-size: 30px; 
    background: lightblue; 
}
#books3 h5 { 
    text-align: center; 
    margin: 20px 0px;   
    animation: event 5s infinite;  
    margin-bottom: 80px; 
} 
@keyframes event { 
    0%{ 
        transform: translateX(-20px); 
    } 
    50% { 
        transform: translateY(20px); 
    }
}
#books3 #event { 
    width: 100%; 
    display: grid;       
    grid-template-columns: repeat(7,400px);
    overflow-x: scroll;
    scrollbar-width: none; 
    align-content: center; 
    align-items: center;  
    
}

#books3 #event .org {  
    width: 400px; 
    height: 250px; 
    border: 2px solid black; 
    text-align: center; 
    background:rgb(150, 233, 150); 
    font-size: 20px; 
    padding: 40px; 
    
}
#books2 #bk {
    height: 450px; 
    width: 600px; 
    border: 1px solid pink; 
    animation: hope 8s ease infinite; 
}  
@keyframes hope { 
    0%{
        background-image: url('books/bk1.jpeg'); 
        backgorund-repeat: no-repeat; 
    }
    25%{
        background-image: url('books/bk2.jpg'); 
        backgorund-repeat: no-repeat; 
    }
    50%{
        background-image: url('books/bk3.jpg'); 
        backgorund-repeat: no-repeat; 
    }
    75%{
        background-image: url('books/bk4.jpg'); 
        backgorund-repeat: no-repeat; 
    }

    30%{ 
        transform: translateX(200px) scale(1.01);
    } 
    60%{ 
        transform: translateX(-400px); 
    }

}

/* book style end   contact start  */

#contacts1 {
    background-image: url(call2.jpg);
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgb(172, 234, 172);
    padding: 10px 0px;
    font-size: 20px;
    margin-top: 40px; 
    margin-bottom: 20px; 
}

#contacts1 h1 {
    font-family: "Lucida Console";
}

iframe {
    width: 100%;
}

#formcon form .edu {
    font-family: 'Courier New';
    font-size: 25px;
    width: 100%; 
    height: 70%; 
    margin-left: 200%;
}
#formcon form {
    display: grid; 
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;  

}
#formcon {
    display: flex;
    background: rgb(150, 233, 150); 
    width: 100%; 
    height: 50vh; 
    margin-top: 20px;
}
#formcon img { 
    border-radius: 50%; 
    display: flex;
    position: absolute;   
    left: 7%; 
    align-items: center; 
} 
#contacts2 { 
    width: 100%;
    height: 60vh; 
    background-image: url('teach/coding.jpeg');
    opacity: .6;
} 
#contacts2 #conpic { 
    display: flex;  
    justify-content: space-evenly;
    align-items: center; 
    gap: 10%;  
    position: absolute; 
    z-index: 2; 
    left: 5%; 
}
#contacts2 #conpic .pic { 
    height: 270px; 
    width: 270px;  
    margin-top: 80px; 
    font-size: 30px; 
    opacity: 1; 
    color: white; 
}
#contacts2 #conpic h4 { 
    color: lightskyblue;
}

/* contact end About us start */

#abouts1 {
    margin-top: 45px;
    background-image: url('bgabout.jpg');
    opacity: .8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#abouts1 #para {
    position: absolute;
    color: brown;
    font-size: 35px;
    font-family: arial;
    margin: 350px 0px 0px 70px;
    letter-spacing: 5px;    
}

/* about us para 1 end     about us para 2 start  */
#abouts2 p { 
    text-align: center; 
    font-family: papyrus;
    font-weight: bold; 
    color: darkcyan;  
    font-size: 40px; 
    padding-bottom: 10px; 
}
#abouts2 #op1  {     
    display: grid; 
    grid-template-columns: auto auto auto; 
    justify-content: space-around;
    align-items: center; 
    gap: 20px;
    text-wrap: wrap; 
}
#abouts2 #op1 .op {
    border: 2px solid red;  
    height: 270px; 
    width: 270px; 
    padding: 2px; 
    text-align: center; 

}
#abouts2 {
    background: lightcyan; 
    font-size: 25px; 
    padding: 40px;
}
#abouts2 h4 { 
    text-decoration: sienna underline; 
} 
/* about us para 2 end    about us para 3 start  */ 
#abouts3 { 
    margin-top: 40px; 
    width: 100%; 
    height: 60vh; 
    background: lightcyan;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;        /*  here no need*/ 
    
}                          
#abouts3 marquee{
    position: absolute;
    top: 200px;
    z-index: 2 !important;

}
#abouts3 .text { 
    /* position: relative;  Default layer (lower z-index) */  /* position: absolute; */
    text-align: center; 
    /* top: 90px;  */
    font-size: 70px; 
    letter-spacing: 10px; 
}
#abouts3 .image {      
    /* position: absolute;  Positioned relative to .container */  /* left: 40%;   */ /* top: 0%;  */
    width: 500px; 
    opacity: .8; 
    margin-bottom: 70px;
}

/* about us para 3 end    about us para 4 start  */

#abouts4{
    width: 100%;
    height: 70vh; 
    padding: 40px; 
    background-color: rgb(111, 111, 242);
}
#abouts4 p, h2 { 
    /* text-wrap: nowrap;               no need after text align  center        */
    font-size: 40px;
    text-align: center;     /*   text ko center */     
}  

#abouts4 p { 
    font-style: italic; 
    font-size: 30px; 
} 
#abouts4 .abpic .yo { 
    text-align: center;    
} 
#abouts4 .abpic .yo img { 
    border-radius: 50%; 
}
#abouts4 .abpic { 
    display: flex; 
    justify-content: space-evenly; 
    /* align-items: center;             extra here no need  only with position */      
    /* width: 100%;                             same as above */
}

#abouts4 .abpic .yo:hover { 
       transform: scale(1.09) rotate(360deg); 
}  
#abouts4 .abpic .yo { 
    transition: transform 3s ;
}
/* about us para 4 end  about us para 5 start   */
 
#abouts5 { 
    background-image: url('teach/chem.jpg'); 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 65vh; 
}  
#abouts5 p { 
    text-align: center;
    font-size: 30px; 
    margin: 20px 0px; 
    font-family: cooper;
} 
#abouts5 #box {
    display: grid; 
    grid-template-columns: auto;
    height: 50vh; 
    width: 50%; 
    border: 1px solid rgb(0, 0, 0);
    margin-left: 20%; 
    background-size: cover;   /* to make image inside box */
    animation: change 10s ease-out infinite;  
}
@keyframes change { 

    0%{
        background-image: url('animate/physics.png'); 
        background-repeat: no-repeat;
    }
    32%{
        background-image: url('animate/chemistry.jpg'); 
        background-repeat: no-repeat; 
    }
    48%{
        background-image: url('animate/maths.jpg'); 
        background-repeat: no-repeat; 
    }
    64%{
        background-image: url('animate/biology.jpg'); 
        background-repeat: no-repeat; 
    }
    100%{
        background-image: url('animate/commerce.jpeg'); 
        background-repeat: no-repeat; 
    } 
    40% { 
        transform: translateX(400px) rotate(20deg); 
    }
    80% { 
        transform: translateX(-300px) scale(1.2) rotate(-20deg); 
    } 
}

/* about us para 5 end */ 

