* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth; 
    /* border ko box ke andar lane k liye */
}

/* css for head   start */

#head {
    width: 100%;
    font-size: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    /* horizontal center */
    align-items: center;
    /* verticle  center ke liye*/
    font-family: arial;
    position: fixed;
    top: 0%;
    z-index: 3; 
}

#head #logo {
    color: white;
    font-family: 'Cooper Black';
    background: rgb(221, 81, 81);
    font-size: 30px;
    letter-spacing: 5px;
    padding: 0px 5px;
}

#head nav ul {
    display: flex;
    gap: 10%;
    white-space: nowrap; 
    font-family: 'Segoe UI'; 
    font-weight: bold;
}

#head nav ul li {
    /* display: flex;
    justify-content: space-between; */
    list-style: none;
    /* color: black;  */
    transition: transform 3s ease-out; 
} 
#head nav ul li:hover { 
    transform: scale(1.4); 
   
}
#head nav ul li a {
    text-decoration: none;
    color: black;
}
#head nav ul li a:hover { 
    color: blue; 
}

#head p {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}

#head .tele {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

#head .tele p {
    background-color: rgb(172, 234, 172);
}

#head .icon {
    display: flex;
    gap: 50px;
} 
#foot { 
    width: 100%;  
    height: 10vh; 
    line-height: 25px;
    background: rgb(175, 175, 248); 
    text-align: center;  
    padding: 10px 0px; 
    margin-top: 5px; 
}
#foot div { 
    font-size: 18px; 

}

/* css for head ends here */

/* home  start */
#s1 {
    margin: 40px 0px;
    background: rgb(172, 234, 172);
}

#s1 img {
    width: 100%;
    height: 90vh;
}

#s1 p {
    color: blue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-bottom: 20px;
}

#s1 .course .sub {
    border: 3px solid blue;
    border-radius: 50%;
    padding: 15px;
}

#s1 .course {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 30px;
}

/* home end */

/* section 2 start*/
#s2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#s2 img {
    border-radius: 60%;
}

#s3 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#s3 img {
    margin-right: 50px;
}

#s4 {
    margin-top: 20px;
    display: flex;
    background: white;
    gap: 30px;
    font-size: 30px;
    font-family: 'Courier New';
    align-items: center;
}

/* section 2 end  book style start */ 
#books0 { 
    width: 100%; 
    height: 100vh; 
    background-image: url('teach/bookbg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin-top: 40px ;  
      
} 
#books0 #func a { 
    font-size: 30px; 
    color: lightskyblue; 
    text-decoration: none; 
    font-family: georgia; 
}
#books0 h3 { 
    margin: 30vh; 
    color: white; 
    font-size: 30px; 
}
#books1 .kitab { 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 

    font-size: 25px;
    font-family: 'sans-serifk';
    background: burlywood;
}
#books1 .kitab a {
    text-decoration: none;
    color: red; 
    font-size: 30px; 
    margin: 20px 0px; 
}
#books2 { 
    width: 100%; 
    height: 70vh; 
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: lightgoldenrodyellow;
} 
#books2 p { 
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px; 
    font-family: monospace; 
    background-color: lightyellow;
}  
#books2 #bk {
    height: 450px; 
    width: 600px; 
    border: 1px solid pink; 
    animation: hope 8s ease infinite; 
}  
@keyframes hope { 
    0%{
        background-image: url('books/bk1.jpeg'); 
        backgorund-repeat: no-repeat; 
    }
    25%{
        background-image: url('books/bk2.jpg'); 
        backgorund-repeat: no-repeat; 
    }
    50%{
        background-image: url('books/bk3.jpg'); 
        backgorund-repeat: no-repeat; 
    }
    75%{
        background-image: url('books/bk4.jpg'); 
        backgorund-repeat: no-repeat; 
    }

    30%{ 
        transform: translateX(200px) scale(1.01);
    } 
    60%{ 
        transform: translateX(-400px); 
    }
}
 
#books3 { 
    width: 100%; 
    height: 60vh; 
    font-size: 30px; 
    background: lightblue; 
}
#books3 h5 { 
    text-align: center; 
    margin: 20px 0px;   
    animation: event 5s infinite;  
    margin-bottom: 80px; 
} 
@keyframes event { 
    0%{ 
        transform: translateX(-20px); 
    } 
    50% { 
        transform: translateY(20px); 
    }
}
#books3 #event { 
    width: 100%; 
    display: grid;       
    grid-template-columns: repeat(7,400px);
    overflow-x: scroll;
    scrollbar-width: none; 
    align-content: center; 
    align-items: center;  
    
}

#books3 #event .org {  
    width: 400px; 
    height: 250px; 
    border: 2px solid black; 
    text-align: center; 
    background:rgb(150, 233, 150); 
    font-size: 20px; 
    padding: 40px; 
    
}

#books0 h3 { 
    margin: 30vh; 
    color: white; 
    font-size: 30px; 
    width: 50%;
}

/* book style end   contact start  */

#contacts1 {
    text-align: center;
    background: rgb(172, 234, 172);
    padding: 10px 0px;
    font-size: 20px;
    margin: 40px 0px;  
    width: 100%; 
    height: 25vh; 
}

#contacts1 h1 {
    font-family: "Lucida Console";
}

iframe {
    width: 100%;
}

#formcon {
    display: flex; 
    gap: 10%; 
    align-items: center; 
    justify-content: space-evenly;

    background: rgb(150, 233, 150); 
    width: 100%; 
    height: 50vh; 
    margin: 15px 0px;
}

#formcon form .edu {
    font-family: 'Courier New';
    font-size: 20px;
    width: 120%; 
    height: 10%; 
    display: block;  
}
#formcon img { 
    border-radius: 50%; 
} 
#contacts2 { 
    width: 100%;
    height: 60vh; 
    background-image: url('teach/coding.jpeg');
    opacity: .6;

    padding-bottom: 5%;
    display: flex;  
    justify-content: space-evenly;
    align-items: center; 
    gap: 5%;     
}
#contacts2  .pic { 
    height: 270px; 
    width: 270px;  
    margin: 15px 0px; 
    font-size: 25px;  
    color: white;    
}
#contacts2 h4 { 
    color: lightskyblue;
}

/* contact end About us start */

#abouts1 {
    margin-top: 45px;
    background-image: url('bgabout.jpg');
    opacity: .8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#abouts1 #para {
    position: absolute;
    color: brown;
    font-size: 35px;
    font-family: arial;
    margin: 350px 0px 0px 70px;
    letter-spacing: 5px;    
}

/* about us para 1 end     about us para 2 start  */
#abouts2 p { 
    text-align: center; 
    font-family: papyrus;
    font-weight: bold; 
    color: darkcyan;  
    font-size: 40px; 
    padding-bottom: 10px; 
}
#abouts2 #op1  {     
    display: grid; 
    grid-template-columns: auto auto auto; 
    justify-content: space-around;
    align-items: center; 
    gap: 20px;
    text-wrap: wrap; 
}
#abouts2 #op1 .op {
    border: 2px solid red;  
    height: 270px; 
    width: 270px; 
    padding: 2px; 
    text-align: center; 

}
#abouts2 {
    background: lightcyan; 
    font-size: 25px; 
    padding: 40px;
}
#abouts2 h4 { 
    text-decoration: sienna underline; 
} 
/* about us para 2 end    about us para 3 start  */ 
#abouts3 { 
    margin-top: 40px; 
    width: 100%; 
    height: 60vh; 
    background: lightcyan;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;        /*  here no need*/ 
    
}                          
#abouts3 marquee{
    position: absolute;
    top: 200px;
    z-index: 2 !important;

}
#abouts3 .text { 
    /* position: relative;  Default layer (lower z-index) */  /* position: absolute; */
    text-align: center; 
    /* top: 90px;  */
    font-size: 70px; 
    letter-spacing: 10px; 
}
#abouts3 .image {      
    /* position: absolute;  Positioned relative to .container */  /* left: 40%;   */ /* top: 0%;  */
    width: 500px; 
    opacity: .8; 
    margin-bottom: 70px;
}

/* about us para 3 end    about us para 4 start  */

#abouts4{
    width: 100%;
    height: 70vh; 
    padding: 40px; 
    background-color: rgb(111, 111, 242);
}
#abouts4 p, h2 { 
    /* text-wrap: nowrap;               no need after text align  center        */
    font-size: 40px;
    text-align: center;     /*   text ko center */     
}  

#abouts4 p { 
    font-style: italic; 
    font-size: 30px; 
} 

#abouts4 .abpic { 
    display: flex; 
    justify-content: space-evenly; 
    /* align-items: center;             extra here no need  only with position */      
    /* width: 100%;                             same as above */
}
#abouts4 .abpic .yo { 
    text-align: center;    
} 
#abouts4 .abpic .yo img { 
    border-radius: 50%; 
}


#abouts4 .abpic .yo:hover { 
       transform: scale(1.09) rotate(360deg); 
}  
#abouts4 .abpic .yo { 
    transition: transform 3s ;
}
/* about us para 4 end  about us para 5 start   */
 
/* #abouts5 { 
    background-image: url('teach/chem.jpg'); 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 65vh; 
}  
#abouts5 p { 
    text-align: center;
    font-size: 30px; 
    margin: 20px 0px; 
    font-family: cooper;
} 
#abouts5 #box {
    display: grid; 
    grid-template-columns: auto;
    height: 50vh; 
    width: 50%; 
    border: 1px solid rgb(0, 0, 0);
    margin-left: 20%; 
    background-size: cover;   /* to make image inside box 
    animation: change 10s ease-out infinite;  
} */
/*
@keyframes change { 

    0%{
        background-image: url('animate/physics.png'); 
        background-repeat: no-repeat;
    }
    32%{
        background-image: url('animate/chemistry.jpg'); 
        background-repeat: no-repeat; 
    }
    48%{
        background-image: url('animate/maths.jpg'); 
        background-repeat: no-repeat; 
    }
    64%{
        background-image: url('animate/biology.jpg'); 
        background-repeat: no-repeat; 
    }
    100%{
        background-image: url('animate/commerce.jpeg'); 
        background-repeat: no-repeat; 
    } 
    40% { 
        transform: translateX(200px) rotate(10deg); 
    }
    80% { 
        transform: translateX(-150px) scale(1.2) rotate(-10deg); 
    } 
} */
/* about us para 5 end */ 

#check{
    display: none;
}

/* media querry */
@media(max-width: 430px) { 
    #head { 
        display: none; 
    }
    #head #logo { 
        /* display: none;  */
    } 
    #head nav ul { 
        flex-direction: column;
    
    }

    #head .tele { 
        /* display: none;  */            /*  to show it    apply nothing  here   so commented out  */
    }
    #head .icon { 
        /* display: none;  */
    } 
    #foot { 
        height: 14vh;
    }

    /* bar and checkbox */ 
    #check:checked~#head  { 
        display: flex; 
        flex-direction: column;
        position: absolute; 
        top: 5%; 
        right: 0%; 
        background: lightcoral; 
        line-height: 50px;
        z-index: 10; 
        width: 44%;
    }
    #bar { 
        display: block; 
        position: absolute; 
        top: 2%; 
        right: 5%; 
        z-index: 10; 
        font-size: 20px; 
        margin-left: 40px; 
    }
    /* head end*/
    #s1 .course { 
        flex-direction: column;
    }
    #s1 img { 
        height: 35vh; 
    }
    #s2 { 
        flex-direction: column;
    }  
    #s2 .para { 
        font-size: 25px; 
    }
    #s2 img { 
        height: 220px; 
        width: 350px; 
    }
    #s3 { 
        flex-direction: column;
    } 
    #s3 img { 
        height: 121px; 
    }
    #s3 div { 
        font-size: 20px;
    }

    #s4 {
        flex-direction: column;
    }
    /* about media*/
    #abouts3 .image { 
        width: 220px; 
    } 
    #abouts1, #abouts1 #para { 
        height: 40vh; 
        font-size: 10px; 
        margin-top: 40px; 
    } 
    #abouts2 #op1 { 
        grid-template-columns: auto;
    } 
    #abouts4, #abouts4 .abpic {
        flex-direction: column; 
        height: 100%;
    } 
    /* #abouts5 { 
        height: 30vh; 
        margin-bottom: 0px;
    } 
    #abouts5 #box { 
        height: 100%; 
        width: 100%; 
    } */ 
    /* book media */ 
    #books0 { 
        height: 100%; 
        width: 100%;  
        overflow: hidden;
    } 
    #books0 h3 { 
        font-size: 15px;
    }

    #books1 .kitab  { 
        flex-direction: column;
    } 
    #books2 { 
        height: 100%; 
    }

    #books2 #bk {
        height: 180px; 
        width: 250px; 
        animation: hope 8s ease infinite; 
    }  
    @keyframes hope { 
        0%{
            background-image: url('books/bk1.jpeg'); 
            backgorund-repeat: no-repeat; 
        }
        25%{
            background-image: url('books/bk2.jpg'); 
            backgorund-repeat: no-repeat; 
        }
        50%{
            background-image: url('books/bk3.jpg'); 
            backgorund-repeat: no-repeat; 
        }
        75%{
            background-image: url('books/bk4.jpg'); 
            backgorund-repeat: no-repeat; 
        }
        30%{ 
            transform: translateX(50px) scale(1.01);
        } 
        60%{ 
            transform: translateX(-80px); 
        }
    }


    #books3 #bk { 
        height: 120%; 
    } 

    #contacts1 { 
        height: 100%; 
    } 
    #formcon { 
        height: 100%; 
        flex-direction: column; 

    }
    #formcon img { 
        height: 155px; 
        width: 225px;
    }
    #contacts2 { 
        height: 100%;
        flex-direction: column;  
    } 

    #contacts2 .pic {  
        height: 130px; 
        width: 130px;   
        margin-right: 0px;  
        
    }

} 




